.slugjug {
  display: flex;
  align-self: flex-end;
  height: 100vh;
}

.ChalkSlug {
  pointer-events: none;
  align-self: flex-end;
  justify-self: flex-end;
  filter: drop-shadow(0px 0px 5px rgba(132, 240, 250, 0.705));
  margin: 0 1em 1em 0;
  animation: slugbulger infinite 1s alternate; 
}

@keyframes slugbulger {
  0% {
    height: 30vmin;
  }

  100% {
    height: 30.2vmin;
  }
}

