@mixin bubble-background {
  width: 50%;
  background-color: white;
  border-radius: 2em;
  margin: 1.5em 0 5em 5em;
  padding: .5em 2em 0 2em;
  box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.582);
}

@mixin btn-style {
  cursor: pointer;
  height: 2.5em;
  border: 2px solid grey;
  border-top: .5px solid grey;
  border-right: .5px solid grey;
  background: none;
  outline: none;
  border-radius: 2em;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.452);
  transition: all .15s ease-in-out;
  
  &:hover {
    background: rgba(117, 221, 255, 0.342);
  }
}

@mixin btn-bar {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 25%;
  justify-content: space-evenly;
  margin-left: 1em;
}