@import '../../styles/shared.scss';

.btnBar {
  @include btn-bar
}

.activityBtn {
  @include btn-style;
}

.journalBtn {
  @include btn-style;
  width: 100%;
}

.goHomeBtn {
  @include btn-style;
  margin-left: 1.55em;
  width: 40%;
}