@import '../../styles/shared.scss';

.HomeView {
  @include bubble-background;
  height: 65vh;
}

.prompt {
  line-height: 130%;
}

.btnBar {
  @include btn-bar;
}

.activityBtn,
.journalBtn {
  @include btn-style;
  width: 100%;
}