@import '../../styles/shared.scss';

.Journal {
  @include bubble-background;
  height: 69.4vh;
  overflow: scroll;
  padding-bottom: 2em;
}

.activityList {
  line-height: 50%;
}

.activity {
  margin-bottom: 2em;
}

.goBack {
  @include btn-style;
  margin-left: 2em;
  width: 25%;
}