.Journal {
  width: 50%;
  height: 77vh;
  background-color: white;
  border-radius: 2em;
  margin: 2em 0 5em 5em;
  padding: 0 2em 0 2em;
  overflow: scroll;
}

.activityList {
  line-height: 50%;
}

.activity {
  margin-bottom: 2em;
}